html{
  /* background-color: #282c34; */
  font-family: system-ui;
  font-weight: lighter;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 800px) {
    .scroll-nav {
      float: right;
    }
  }
  @media screen and (max-width: 799px) {
    .scroll-nav {
      text-align: center;
    }
  }
  
  .scroll-nav__list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  .scroll-nav__list:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 799px) {
    .scroll-nav__list {
      display: inline-block;
    }
  }
  
  .scroll-nav__item {
    margin-bottom: 5px;
    float: left;
    margin-right: 15px;
    border-bottom: 1px solid transparent;
  }
  
  .scroll-nav__item--active {
    font-weight: 600;
    border-bottom-color: white;
  }
  
  .scroll-nav__link {
    /* color: #282c34; */
    color: darkblue;
    text-decoration: none;
    padding: 0vw 1vw 0vw 1vw;
    font-size: 1.3vw;
  }
  
  .page__header {
    position: sticky;
    top: 0;
    padding: 15px 10px;
    background:#B0C4DE;
  }
  .page__header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .page__title {
    margin: 0;
    font-size: 22px;
    color: white;
  }
  @media screen and (max-width: 799px) {
    .page__title {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 800px) {
    .page__title {
      float: left;
    }
  }
  
  /* .main-content { */
    /* padding: 0 20pt; */
  /* } */
  @media screen and (min-width: 700px) {
    .main-content {
      /* padding: 0 30px; */
    }
  }
  
  .welcome{
    width: 80vw;
    height:50vh;
    margin-top: 30vh;
  }

  h1 {
    padding-left: 20vw;
    /* margin-top: 20vh; */
    font-weight: lighter;
    font-size: 5vmax;
  }

  h2 {
    padding-left: 20vw;
    padding-top: 20vh;
    font-weight: lighter;
    font-size: 5vh;
    margin-top: 0pt;
    color: darkblue;
    font-weight: bolder;
  }

.name {
    color: darkblue;
    font-weight: bolder;
  }

.bold {
  font-weight: bolder;
}

.italics {
  font-style: italic;
}

  .description {
    padding-left: 20vw;
    margin-top: 3vh;
    font-size: 2vw;
  }

  p{
    padding-left: 20vw;
    margin-top: 3vh;
    font-size: 2vw;
  }

  table {
    /* padding-left:20vw; */
  }

  td {
    padding: 0vh 5vw 0vh 5vw;
    font-size: 1.75vw;
  }

  .experience {
    width: 100vw;
    height: 70vh;
    /* background-color: #F0F8FF; */
  }
  